@charset "utf-8";
/*--公用样式开始---*/
*{word-wrap:break-word}
a,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,select,td,textarea,th,tr,ul{margin:0;padding:0}
dl,li,ol,ul{list-style-type:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:400;font-style:normal}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
button,input{overflow:visible;vertical-align:middle;outline:0}
body,button,input,select,td,textarea,th{font-family:"\5FAE\8F6F\96C5\9ED1",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;font-size:12px;color:#333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}
body{line-height:1.6;-webkit-font-smoothing:antialiased;}
h1,h2,h3,h4,h5,h6{font-size:100%}
img{border:0;vertical-align:middle}
a,area{outline:0;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:none;outline:0}
a.ie6:hover{zoom:1}
a:focus{outline:0}
a:active,a:hover{outline:0}
:focus{outline:0}
sub,sup{vertical-align:baseline}
textarea{resize:none;overflow:hidden;resize:none}
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width:100%;height:auto}
html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;margin:0 auto!important;padding:0!important;font-size:0;line-height:0}
/*----
模块名称：面包屑
修改内容：暂无
模块作者：裴富成
修改时间：2016.1.13
----*/
.breadsNav{height:30px;font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;}
.breadsNav a{color:#666;}
.breadsNav b{color:#ff7300;}
.breadsNav code{margin:0px 5px;}
.breadsNav a:hover{color:#f60;}
.breadsInfor{display:inline-block;float:right;height:auto;}
.breadsInfor b{color:#ff7300;}
/*----
模块名称：顶部
修改内容：暂无
模块作者：裴富成
修改时间：2016.1.28
----*/
.topBar{width:100%;height:36px;background-color:#fff;}
.topMain{width:1200px;height:35px;margin:0px auto;}
.mySph{width:300px;height:36px;float:right;position:relative;}
.mySph li{float:left;margin:0 2px;}
.mySph li a{display:block;font:12px/36px "\5FAE\8F6F\96C5\9ED1";color:#666;float:left;}
.mySph li a i{margin-right:5px;color:#b5b5b5;vertical-align:-1px;transition:0.2s ease-in 0s;font-size:14px;}
.mySph li.Popup:hover a i{transform:rotate(180deg);display:inline-block;}
code{height:36px;line-height:36px;text-align:center;width:20px;color:#999;margin-left:3px;}
.mySph li.Popup:hover .hideConment{display:block;}
.hideConment{width:79px;height:auto;position:absolute;left:-18px;top:33px;z-index:1;background-color:#fff;display:none;}
.hideConment span{background: url(../images/iconBg.png) no-repeat 0 -204px scroll;display: block;width:14px;height:7px;position: absolute;left:33px;top:-6px;}
.hideList{width:77px;height:89px;border:1px solid #E4E4E4;}
.hideList li{height:30px;line-height:30px;}
.hideList li a{display:block;font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;text-align:center;width:77px;}
/*----
模块名称：logo和搜索部分
修改内容：暂无
模块作者：裴富成
修改时间：2016.1.28
----*/
.logo{width:100%;height:auto;overflow:hidden;background-color:#fff;}
.logoMain{width:1200px;height:auto;overflow:hidden;margin:0px auto;padding:8px 0px 15px;position:relative;}
.logoMain h1{width:211px;height:64px;float:left;background:url(../images/logobg.png) no-repeat center center scroll;margin-left:50px;}
.logoMain h1 a{width:260px;height:64px;display:block;font-size:0px;}
/*--- 搜索 ---*/
.commonSearch{position:absolute;right:75px;top:25px;}
.searchInput{width:309px;height:36px;padding-left:12px;box-sizing:content-box;font-size:14px;border:#E4E4E4 solid 1px;border-right:none;float:left;}
.searchBtn{width:97px;height:36px;border:#E4E4E4 solid 1px;box-sizing:content-box;background-color:#f4f4f4;color:#333;font-size:16px;cursor:pointer;float:left;letter-spacing:2px}
/*----
模块名称：导航
修改内容：暂无
模块作者：刘朋玉
修改时间：2016.1.28
----*/
.mainNav{width:100%;height:43px;background-color:#26b666;margin:0px auto;overflow:hidden}
.mainNav ul{width:1200px;height:43px;margin:0px auto;}
.mainNav ul li{float:left;}
.mainNav ul li a{display:block;padding:0px 25px;color:#fff;letter-spacing:1px;font:16px/44px "\5FAE\8F6F\96C5\9ED1";}
.mainNav ul li a.on{background-color:#23a55d;}
/*----
模块名称：公共底部
修改内容：暂无
模块作者：裴富成
修改时间：2016.1.28
----*/
.allFooter{width:100%;height:auto;overflow:hidden;margin:50px auto 0px auto;background-color:#282828}
.footerConment{width:1200px;height:auto;overflow:hidden;padding:50px 0;margin:0 auto;}
.footerTxt{width:230px;height:auto;overflow:hidden;float:left;border-right:1px solid #3b3a3a;margin-left:30px;}
.footerTxt dl{width:106px;float:left;height:auto;}
.footerTxt dt{font:14px/34px "\5FAE\8F6F\96C5\9ED1";color:#ccc;text-align:center;}
.footerTxt dd{line-height:28px;}
.footerTxt dd a{color:#ccc;font:12px/26px "\5FAE\8F6F\96C5\9ED1";text-align:center;display: block;}
/*---- 底部版权信息 ----*/
.copyRight{padding:15px 0px 0 42px;color:#666;float:left;}
.copyRight a{font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#ccc;margin:0px 10px;}
.copyRight p{margin-left:10px;font:12px/34px "\5FAE\8F6F\96C5\9ED1";color:#868686;}
