@charset "utf-8";
.wrapperMain{width:1200px;height:auto;margin:0 auto;overflow:hidden}
.wraMainLeft{float:left}
/*公司简介*/
.companyDuce{width:936px;height:auto;overflow:hidden;border:#e4e4e4 1px solid;margin-bottom:20px}
.companyDuce h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8}
.companyDuce h2 i{font-size:16px;color:#43a400}
.companyDuce img{float:left;margin-right:24px}
.induContent{padding:21px}
.induContent p{width:669px;font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;display:inline-block;text-indent:24px}
/*推荐商品*/
.recomdit{width:936px;height:auto;overflow:hidden;margin-bottom:20px}
.recomdit h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8}
.recomdit h2 i{font-size:22px;color:#43a400}
.companyDuce img{float:left;margin-right:24px}
.newrecomdit{height:auto;overflow:hidden}
.newrecomdit li{width:214px;height:312px;margin:0 9px;float:left;border:#e4e4e4 1px solid;margin-top:15px}
.newrecomdit .proIntro{width:201px;height:40px;font:14px/20px "\5FAE\8F6F\96C5\9ED1";color:#666;float:left;padding:8px 0 0 8px;overflow:hidden}
.newrecomdit li span{font:14px/14px "\5FAE\8F6F\96C5\9ED1";color:#666}
.newrecomdit li font{font:18px/18px "\5FAE\8F6F\96C5\9ED1";color:#ff7300;margin:14px 0 0 8px;display:inline-block}
.newrecomdit li del{margin:0 24px 0 7px;font:14px/14px "\5FAE\8F6F\96C5\9ED1";color:#999}
/*联系方式*/
.contactUs{width:936px;height:auto;overflow:hidden;margin-bottom:20px;border:#e4e4e4 1px solid;padding-bottom:30px}
.contactUs h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8;margin-bottom:20px}
.contactUs h2 i{font-size:16px;color:#43a400}
.contactUs p{width:885px;font:14px/40px "\5FAE\8F6F\96C5\9ED1";height:40px;color:#666;margin-left:53px;overflow:hidden}
.contactUs p span{margin-left:38px}
/*在线咨询*/
.feedBack{width:936px;height:auto;overflow:hidden;margin-bottom:22px;border:#e4e4e4 1px solid}
.feedBack h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8}
.feedBack h2 i{font-size:16px;color:#43a400}
.feedContent{width:669px;height:auto;overflow:hidden;padding:30px 0 0 49px;margin-bottom:20px}
.feedContent li{font:14px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;margin-bottom:18px}
.feedContent li input{width:350px;height:40px;border:#e4e4e4 1px solid;border-radius:6px;margin-left:34px}
.feedContent li textarea{border:#e4e4e4 1px solid;margin-left:34px;border-radius:6px}
.feedBack input.submit{width:162px;height:42px;font:16px/42px "\5FAE\8F6F\96C5\9ED1";color:#fff;border-radius:4px;background-color:#ff7300;border:none;margin-left:139px;margin-bottom:30px;cursor:pointer}
/*右边*/
.wraMainRight{width:243px;height:auto;overflow:hidden;float:right}
/*公司信息*/
.companyInfor{margin-bottom:22px;padding-bottom:23px;border:#e4e4e4 1px solid}
.companyInfor h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8}
.companyInfor h2 i{font-size:16px;color:#43a400}
.storeInformation{padding-bottom:10px;border-bottom:1px solid #E4E4E4}
.storeInformation dd{height:auto;overflow:hidden;padding-left:30px}
.storeTitle{height:50px;font:14px/50px "\5FAE\8F6F\96C5\9ED1";color:#333;display:block;text-align:center}
.storeEmail{width:28px;height:28px;display:block;float:left;background:url(../images/iconBg.png) no-repeat 2px -165px scroll}
.storeTime{height:28px;line-height:28px;float:left;padding-right:15px;border-right:1px solid #E4E4E4}
.storeIcon{height:28px;padding-left:15px;float:left}
.companyQua{display:inline-block;width:20px;height:28px;background:url(../images/iconBg.png) no-repeat -47px -63px scroll;margin-right:5px}
.dataTime{display:inline-block;width:20px;height:28px;background:url(../images/iconBg.png) no-repeat -73px -63px scroll;margin-right:5px}
.return{display:inline-block;width:20px;height:28px;background:url(../images/iconBg.png) no-repeat -47px -87px scroll;margin-right:5px}
.enterStore{width:90px;height:34px;font:12px/34px "\5FAE\8F6F\96C5\9ED1";color:#fff;display:inline-block;background-color:#46A400;border:#e4e4e4 1px solid;text-align:center;margin:15px 0 0 28px;border-radius:4px}
.enterStore:hover{background-color:#5fb719;text-decoration:none}
.foucsStore{width:90px;height:34px;font:12px/34px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#FF7300;border:#e4e4e4 1px solid;text-align:center;display:inline-block;border-radius:4px}
.foucsStore:hover{background-color:#fea01a;text-decoration:none}
.inforContent{height:104px;overflow:hidden;padding-top:16px}
.inforContent span{font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;display:inline-block;padding-left:26px;overflow:hidden;float:left}
.qqconsult{background:url(../images/aaa.jpg) no-repeat -90px center scroll;width:116px;height:30px;padding-left:35px;float:right}
.inforContent span.proMain{width:196px}
.inforContent span a{font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666}
.inforContent span a:hover{color:#ff7300}
.attentSto,.onlineCon{width:90px;height:30px;font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;display:inline-block;background-color:#f9f9f9;border:#e4e4e4 1px solid;text-align:center;margin-top:23px}
.onlineCon{margin:0 10px 0 23px}
.companyInfo a:hover{text-decoration:none}
/*公司地图*/
.newmap{height:auto;overflow:hidden;background-color:#fff;margin-top:15px;padding-bottom:20px;border:#e4e4e4 1px solid}
.newmap h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#333;padding-left:10px;background-color:#f8f8f8}
.newmap h2 i{font-size:16px;color:#43a400}
.newmap img{width:205px;height:205px;display:block;margin:15px}
