
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huiliuqushipin:before { content: "\e601"; }
.icon-wuliu32pt:before { content: "\e600"; }
.icon-shang:before { content: "\e617"; }
.icon-xiasanjiao:before { content: "\e616"; }
.icon-chevron-down:before { content: "\e625"; }
.icon-shezhi:before { content: "\e602"; }
.icon-zaixue:before { content: "\e613"; }
.icon-laba:before { content: "\e61d"; }
.icon-bianji:before { content: "\e603"; }
.icon-3:before { content: "\e604"; }
.icon-jiangdi:before { content: "\e629"; }
.icon-zengchang:before { content: "\e62a"; }
.icon-clouds-download:before { content: "\e630"; }
.icon-shangjiantou:before { content: "\e610"; }
.icon-xiajiantou:before { content: "\e611"; }
.icon-you:before { content: "\e614"; }
.icon-nongye:before { content: "\e605"; }
.icon-zuo:before { content: "\e615"; }
.icon-fangkuai:before { content: "\e631"; }
.icon-tubiao:before { content: "\e606"; }
.icon-qian:before { content: "\e618"; }
.icon-shoucang:before { content: "\e619"; }
.icon-go-right:before { content: "\e612"; }
.icon-tubiaojinru36:before { content: "\e62b"; }
.icon-kefuzhongxin:before { content: "\e61c"; }
.icon-fangdajing:before { content: "\e607"; }
.icon-jianhao:before { content: "\e62c"; }
.icon-weibiaoti1:before { content: "\e624"; }
.icon-weibiaoti2suo:before { content: "\e608"; }
.icon-shipinnongye:before { content: "\e609"; }
.icon-gouwuche:before { content: "\e61a"; }
.icon-connectionbars:before { content: "\e61e"; }
.icon-ribbonb:before { content: "\e635"; }
.icon-dingdan:before { content: "\e623"; }
.icon-gonggaofuzhi:before { content: "\e61b"; }
.icon-x:before { content: "\e60a"; }
.icon-fangkuai1:before { content: "\e626"; }
.icon-anquan:before { content: "\e60b"; }
.icon-paixingbang:before { content: "\e62d"; }
.icon-jianzhuwu:before { content: "\e61f"; }
.icon-iconfontfalvfagui:before { content: "\e632"; }
.icon-baozhang:before { content: "\e60c"; }
.icon-iconliebiao:before { content: "\e627"; }
.icon-shizhong:before { content: "\e621"; }
.icon-wodezixun:before { content: "\e62e"; }
.icon-wanggexinxi04:before { content: "\e60d"; }
.icon-tongjitubiao:before { content: "\e60e"; }
.icon-bao001:before { content: "\e60f"; }
.icon-79:before { content: "\e622"; }
.icon-ditu:before { content: "\e620"; }
.icon-xitongfabu:before { content: "\e633"; }
.icon-shangyejihuashuzhuanxie:before { content: "\e634"; }
.icon-yuandian:before { content: "\e62f"; }
