@charset "utf-8";
/*橱窗推荐的商品导航*/
.ucinput{border:1px solid #e4e4e4;background:#fff;height:26px;line-height:26px;padding:2px 5px}
.uctit h2{color:#333;font:bold 18px/40px "微软雅黑";padding:0 10px;}
.gray a.sellProdu{color:#666}
.gray a:hover{color:#ff7300;text-decoration:none}
.ucinput:hover{border:1px solid #2c54ab}
.ucRight .search{width:946px;border:1px solid #eee;background:#f7f7f7;padding:15px 20px}
.ucRight .search a{float:left;margin-top:10px;line-height:40px;font-size:14px;text-decoration:underline;color:#06C}
.ucRight .search td{font-size:14px}
.ucRight .stit{border-top:1px solid #eee;background:#f7f7f7;height:38px;line-height:38px}
.ucRight .stable1 td{border-bottom:1px solid #eaeaea;font-size:13px}
.ucbtn{width:80px;height:40px;background:#f60;-moz-border-radius:3px;webkit-border-radius:3px;border-radius:3px;color:#fff;font-size:16px;border:none;cursor:pointer}
.ucbtn:hover{background:#ff7300}
.sbtn{width:50px;height:26px;border:1px solid #e4e4e4;background:#fff;-moz-border-radius:3px;webkit-border-radius:3px;border-radius:3px;color:#333;font-size:12px;cursor:pointer;}
.sbtn:hover{border:1px solid #ff7010;color:#ff7010}
/*橱窗推荐的商品标题*/
.stitTitle{height:30px;margin:20px 0px;border-bottom:#e4e4e4 1px solid;}
.stitTitle li{width:105px;height:30px;float:left;text-align:center;font:14px/30px "\5FAE\8F6F\96C5\9ED1";color:#333;background-color:#e4e4e4;margin-right:10px;}
.mt20{margin-top:0}
.stitTitle li.on{color:#ff7300;border-bottom:#ff7300 1px solid}
/*橱窗推荐的商品内容*/
.proInfoTitle{border-top:#e4e4e4 1px solid;margin-top:20px;}
.proInfoTitle td{font:14px/38px "\5FAE\8F6F\96C5\9ED1";color:#333;text-align:center}
.qxtn{width:78px;height:25px;background-color:#fff;border:#e4e4e4 1px solid;border-radius:3px;}
.qxtn:hover{color:#ff7300;border:#ff7300 1px solid;cursor:pointer;}
.center{border:#e4e4e4 1px solid;border-bottom:none;border-top:none;}
.center a.remdproCon{width:155px;height:48px;display:block;float:right;overflow:hidden;font:14px/24px "\5FAE\8F6F\96C5\9ED1";color:#666;margin:18px 30px 0 0}
.center a.remdproCon:hover{color:#ff7300}
.ucRight .stable1 td{padding-bottom:5px}
.ucRight .stable1 td img{margin-left:25px;}
.mr5{margin:0 5px 0 12px}
.orange{width:74px;height:30px;display:block;border:#e4e4e4 1px solid;font:14px/30px "\5FAE\8F6F\96C5\9ED1";color:#333}
.cancle{width:78px;height:26px;background-color:#fff0e6;color:#FF7300;text-align:center;border:1px solid #ffdfca;display:block;line-height:26px}
.ucRight .stit{border:1px solid #eee;background:#f7f7f7;height:38px;line-height:38px;border-top:none}
.boult{color:#ff7300;}
/*页码*/
.paginator{clear:both;padding-bottom:12px;margin:0 auto;font:14px Arial,Helvetica,sans-serif;color:#666;padding-top:12px;float:right}
.paginator A,.paginator A:link,.paginator A:visited{padding:0 12px;display:block;background:#fff;border:1px solid #ededed;float:left;color:#333;margin-right:4px;text-decoration:none;height:34px;line-height:34px}
.paginator A:active,.paginator A:hover{padding:0 12px;background:#f40;border:1px solid #ededed;color:#fff;text-decoration:none;height:34px;line-height:34px}
.paginator .this-page{padding:0 12px;display:block;background:#f40;float:left;height:34px;line-height:34px;margin-right:2px;text-decoration:none;color:#fff;font-weight:700}
.dited{width:78px;height:26px;border:#e4e4e4 1px solid;display:inline-block;line-height:26px;background-color:#3c6;color:#fff;}
.nodited{width:78px;height:26px;border:#e4e4e4 1px solid;display:inline-block;line-height:26px;background-color:#fb8675;color:#fff;}
.editor{font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#fff;display:block;background-color:#ff7300;width:48px;height:30px;text-align:center;border-radius:4px;}
.preview{font:12px/30px "\5FAE\8F6F\96C5\9ED1";color:#fff;display:block;background-color:#3c6;width:48px;height:30px;text-align:center;margin-bottom:10px;border-radius:4px;}
.editor:hover,.preview:hover{text-decoration:none;}


.ReaSegood{height:auto;overflow:hidden;border:#e4e4e4 1px solid;margin-top:20px;padding:20px;}
.ReaSegood span{font:14px/50px "微软雅黑";color:#333;display:block;}
.ReaGreen{color:#008000;}
.ReaRed{color:#F72929;}
.ReaSegood p{float:left;display:inline-flex;}
.ReaSegood p textarea{padding:10px 0px 0px 10px;background-color:#f1f1f1;}
