@charset "utf-8";
/*---- 标题 ----*/	
.releaseTit{height:auto;overflow:hidden;border-bottom:#e4e4e4 solid 1px;font:18px/50px "微软雅黑";color:#333;}
/*---- 大宗交易标题 ----*/
.buyTit{height:auto;overflow:hidden;padding:30px 0px 0px 50px;}
.buyTit h3{font:16px/50px "微软雅黑";color:#333;}
.buyTit h3 i{color:#f00;margin-right:4px}
.buyTit input{width:400px;height:14px;padding:10px 0px 10px 6px;border:#bcbcbc solid 1px;}
.buyTit input::-webkit-input-placeholder{color:#aaa}
.buyTit span{margin-left:15px;color:#999}	
/*---- 采购信息 ----*/
.buyInfo{height:auto;overflow:hidden;padding:15px 0px 0px 50px;}
.buyInfo h3{font:16px/35px "微软雅黑";color:#333;}	
.buyInfoTxt{height:auto;overflow:hidden;padding:15px 0px 0px 15px;}
.buyInfoTxt i{width:120px;float:left;font:14px/30px "微软雅黑";color:#333;text-align:right}
.buyInfoTxt i font{color:#f00;margin-right:4px}	
.buyInfoTxt input{width:283px;height:14px;padding:10px 0px 10px 6px;border:#bcbcbc solid 1px;}
.buyInfoTxt input.amouts{width:88px;margin-right:10px;}
.buyInfoTxt textarea{width:570px;height:100px;brder:#e4e4e4 solid 1px;padding:5px;}
/*---- 采购要求 ----*/
.buyRequire{height:auto;overflow:hidden;padding:15px 0px 0px 50px;}
.buyRequire h3{font:16px/35px "微软雅黑";color:#333;}
.brTxt{height:auto;overflow:hidden;padding:15px 0px 0px 0px;}	
.brTxt i.tit{width:135px;float:left;font:14px/30px "微软雅黑";color:#333;text-align:right}	
.brTxt i.tit font{color:#f00;margin-right:4px}
.brTxt input[type="text"]{width:283px;height:14px;padding:10px 0px 10px 6px;border:#bcbcbc solid 1px;}
.brTxt select{width:137px;height:34px;border:#bcbcbc solid 1px;margin-right:12px}
.supplierRequire{width:750px;height:auto;overflow:hidden;padding:0px 20px 0px 20px;border:#e4e4e4 solid 1px;}
.supplierRequire li{height:auto;overflow:hidden;margin-top:12px;}
.supplierRequire li i{color:#333;float:left}
.brTxt input[type="radio"]{width:15px;height:15px;margin:0px 10px}
.addressList{width:675px;display:inline-block;float:left;}
.addressList span{float:left;display:inline-block;margin-bottom:10px}	
.addressList input[type="checkbox"]{width:15px;height:15px;margin:0px 10px}	
.buyAdditional{height:auto;overflow:hidden;margin-top:15px;}
.buyAdditional i{width:135px;float:left;font:14px/30px "微软雅黑";color:#333;text-align:right}	
.additionalEditor{width:789px;height:100px;brder:#e4e4e4 solid 1px;padding:5px;float:left}
/*---- 联系方式 ----*/	
.contactUs{height:auto;overflow:hidden;padding:15px 0px 0px 50px;}
.contactUs h3{font:16px/35px "微软雅黑";color:#333;}
.cuTxt{height:auto;overflow:hidden;padding:15px 0px 0px 0px;line-height:34px;}		
.cuTxt i{width:135px;float:left;font:14px/34px "微软雅黑";color:#333;text-align:right}	
.cuTxt i font{color:#f00;margin-right:4px}
.cuTxt input[type="text"]{width:283px;height:14px;padding:10px 0px 10px 6px;border:#bcbcbc solid 1px;}
.cuTxt input[type="radio"]{width:15px;height:15px;margin:0px 10px}	
.releaseBtn{height:auto;overflow:hidden;padding:60px 0px 60px 120px;}
.releaseBtn input[type="button"]{width:210px;height:55px;background-color:#f60;color:#fff;border:none;cursor:pointer;outline:none;letter-spacing:2px;font-size:18px;border-radius:5px;}
	