@charset "utf-8";
body{background-color:#f2f2f2;}
.headerMain h1 a{height:98px;display:block;font-size:24px;color:#a16332;float:left;}
.mainNav{width:100%;height:42px;background-color:#a16332;margin:0px auto;overflow:hidden}
.mainNav ul li a.on{background-color:#c5a479}
.mainNav ul li a:hover{background-color:#c5a479}
.cemaTop h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;padding-left:15px;background-color:#a16332}
.companyInfo ul li h3{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#A16332;padding-left:17px;}
.companyInfo ul li a:hover{background-color:#A16332;}
.companyInfor h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px;}
.rightbar h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:15px}
.cdiType h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px;}
.companyInfo h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px}
.saleList h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px;}
.newsLeftCenter h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px;}
.contactUs h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;background-color:#a16332;padding-left:17px;}
.coupon h2{background-color:#a16332;}
/*----公司简介 ----*/
.companyInfor h2{background-color:#a16332;}
.goodsClass h2{background-color:#a16332;}
.companyContent{background-color:#a16332}
/*----联系我们 ----*/
.contact h2{background-color:#a16332;}
/*----在线咨询 ----*/
.feedBack h2{background-color:#a16332;}
/*----新闻详情 ----*/
.news h2{background-color:#a16332;}
/*----新闻列表 ----*/
.newsClass h2{background-color:#a16332;}
/*----相册列表 ----*/
.myPhotos h2{background-color:#a16332;}
/*----产品详情 ----*/
.newList h2{background-color:#a16332;}
.productHot h2{background-color:#a16332;}
.aAddCart{background-color:#a16332;}
