@charset "utf-8";
body{background-color:#f2f2f2;}
.headerMain h1 a{height:98px;display:block;font-size:24px;color:#000;float:left;}
.mainNav{width:100%;height:42px;background-color:#2266B9;margin:0px auto;overflow:hidden;background:url(../images/bg.jpg) repeat-x center center scroll} 
.mainNav ul li a.on{background-color:#fff;color:#000;}
.mainNav ul li a:hover{background-color:#fff;color:#000;}
.more{color:#666;}
.cemaTop h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;padding-left:45px;background:url(../images/bann.jpg) no-repeat center center scroll}
.companyInfo ul li h3{font:16px/24px "\5FAE\8F6F\96C5\9ED1";color:#666;height:24px;overflow:hidden;border:1px solid #E4E4E4;margin:5px;border-top-right-radius:8px;background-color:#e4e4e4;}
.companyInfo ul li h3 i{color:#666;padding:0px 15px}
.companyInfo ul li a:hover{color:#666;background-color:#e4e4e4;}
.cmaTitle{background-color:#E4E4E4;}
.cmaTitle h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.panyTit{background-color:#E4E4E4;}
.panyTit h2{font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.typTitle{background-color:#E4E4E4;}
.tytle{background-color:#E4E4E4;}
.companyInfo h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.setist{background-color:#E4E4E4;}
.setist h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.wsleTit{background-color:#E4E4E4;}
.wsleTit h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.actUs{background-color:#E4E4E4;}
.actUs h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
.newbaTit{background-color:#E4E4E4;}
.newbaTit h2{height:35px;font:14px/35px "\5FAE\8F6F\96C5\9ED1";color:#fff;width:169px;text-align:center;background:url(../images/greyLeft.png) no-repeat 0px 0px scroll}
/*----首页 ----*/
.rightbar h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
.cdiType h2{background:url(../images/greyLeft.jpg) no-repeat 0px 0px scroll;}
.saleList h2{background:url(../images/greyLeft.jpg) no-repeat 0px 0px scroll;}
.newsLeftCenter h2{background:url(../images/greyLeft.jpg) no-repeat 0px 0px scroll;}
.contactUs h2{background:url(../images/greyLeft.jpg) no-repeat 0px 0px scroll;}
.coupon h2{background:url(../images/greyLeft.jpg) no-repeat 0px 0px scroll;}
/*----公司简介 ----*/
.companyInfor h2{background:url(../images/greyLeft.jpg) no-repeat 0 0 scroll;}
.goodsClass h2{background:url(../images/greyLeft.jpg) no-repeat 0 0 scroll;}
.companyContent{background:url(../images/greyLeft.jpg) no-repeat 0 0 scroll;}
/*----联系我们 ----*/
.contact h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
/*----在线咨询 ----*/
.feedBack h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
/*----新闻详情 ----*/
.news h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
/*----新闻列表 ----*/
.newsClass h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
/*----相册列表 ----*/
.myPhotos h2{background:url(../images/greyRight.jpg) no-repeat 0 0 scroll;}
/*----产品详情 ----*/
.newList h2{background:url(../images/greyLeft.jpg) no-repeat 0 0 scroll;}
.productHot h2{background:url(../images/greyLeft.jpg) no-repeat 0 0 scroll;}
.aAddCart{background-color:#888;}