
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shangsanjiao:before { content: "\e60d"; }
.icon-xiasanjiao:before { content: "\e60a"; }
.icon-dian:before { content: "\e614"; }
.icon-qian:before { content: "\e601"; }
.icon-gongneng:before { content: "\e60f"; }
.icon-xiangshang:before { content: "\e615"; }
.icon-wujiaoxing:before { content: "\e618"; }
.icon-iconfontzhexiantu:before { content: "\e613"; }
.icon-x:before { content: "\e616"; }
.icon-warn:before { content: "\e619"; }
.icon-xingxing:before { content: "\e602"; }
.icon-jinggao:before { content: "\e608"; }
.icon-dianpu:before { content: "\e603"; }
.icon-tianjia:before { content: "\e607"; }
.icon-shanchu:before { content: "\e609"; }
.icon-bianji:before { content: "\e617"; }
.icon-renminbiqiapian:before { content: "\e61a"; }
.icon-shezhi:before { content: "\e604"; }
.icon-naozhong:before { content: "\e61b"; }
.icon-zhaohuo2normal:before { content: "\e610"; }
.icon-jinggao1:before { content: "\e60e"; }
.icon-gonggao:before { content: "\e612"; }
.icon-xiasanjiao1:before { content: "\e600"; }
.icon-huigou013:before { content: "\e611"; }
.icon-cuowu:before { content: "\e606"; }
.icon-zhengque:before { content: "\e605"; }
.icon-liuyan:before { content: "\e60b"; }
.icon-jiankangbaike:before { content: "\e60c"; }
.icon-bianji1:before { content: "\e61c"; }
