/*登陆*/
.loginBg{ width:100%; height:560px; background: url(../images/bg01.png) no-repeat center; background-size: 100% 100%; overflow:hidden;}
.loginMain{ width: 1000px; margin: 50px auto;}
.loginMainImg{ display: block; float: left; margin-top: 60px;}
.loginMainRight{ width: 360px; padding: 25px; border: 5px solid #d2d2d2; background: #fff; float: left; margin-left: 30px;}
.loginMainRight h3{ width: 100%; font:20px/35px "\5FAE\8F6F\96C5\9ED1"; color: #43a400; position: relative;}
.loginMainRight h3 a{ font:14px/35px "\5FAE\8F6F\96C5\9ED1"; color: #ff7300; position: absolute; top: 0; right: 0; text-decoration: none;}

.inputUser{ width: 360px; max-height: 95px; overflow: hidden; margin-top: 20px;}
.inputUser p{ text-indent: 10px; margin-bottom: 10px; height: 30px; width: 100%; background: #fffae4; font:12px/30px "\5FAE\8F6F\96C5\9ED1"; color: #ff1b1b;}
.inputUser p i{ font:18px/30px "\5FAE\8F6F\96C5\9ED1"; margin-right: 3px; color: #ff1b1b;}
.inputUser input{ width: 358px; height: 52px; text-indent: 65px; font:14px/52px "\5FAE\8F6F\96C5\9ED1"; color: #999; border: 1px solid #e4e4e4; background: url(../images/loginuser.png) no-repeat left;}
.inputPassword{ width: 360px; max-height: 95px; overflow: hidden; margin-top: 20px;}
.inputPassword p{ text-indent: 10px; margin-bottom: 10px; height: 30px; width: 100%; background: #fffae4; font:12px/30px "\5FAE\8F6F\96C5\9ED1"; color: #ff1b1b;}
.inputPassword p i{ font:18px/30px "\5FAE\8F6F\96C5\9ED1"; margin-right: 3px; color: #ff1b1b;}
.inputPassword input{ width: 358px; height: 52px; text-indent: 65px; font:14px/52px "\5FAE\8F6F\96C5\9ED1"; color: #999; border: 1px solid #e4e4e4; background: url(../images/loginmm.png) no-repeat left;}
.inputYzm{ width: 360px; max-height: 95px; overflow: hidden; margin-top: 20px;}
.inputYzm p{ text-indent: 10px; margin-bottom: 10px; height: 30px; width: 100%; background: #fffae4; font:12px/30px "\5FAE\8F6F\96C5\9ED1"; color: #ff1b1b;}
.inputYzm p i{ font:18px/30px "\5FAE\8F6F\96C5\9ED1"; margin-right: 3px; color: #ff1b1b;}
.inputYzm input{ width: 200px; height: 52px; float: left; text-indent: 65px; font:14px/52px "\5FAE\8F6F\96C5\9ED1"; color: #999; border: 1px solid #e4e4e4; background: url(../images/loginyzm.png) no-repeat left;}
.inputYzm img{ float: left; margin-left: 20px;}
.remember{ width: 100%; height: 30px; margin:10px auto; font:12px/30px "\5FAE\8F6F\96C5\9ED1"; color: #999;}
.remember input{ float: left; margin-top: 9px; margin-right: 2px;}
.remember a{ float: right; color: #999; text-decoration: none;}
.loginbtn{ width: 100%; height: 50px; margin: 10px auto 0px;}
.loginbtn input{ width: 100%; height: 100%; border: 0; background: #43a400; color: #fff; font-size: 18px; cursor: pointer;}

/*注册*/
.registered{ width: 1100px; background: #fff; margin: 20px auto 50px; padding:50px 0px;}
.registerMian{width:1100px;height: auto;overflow: hidden;background-color: #fff;margin: 20px auto 50px; padding:50px 0px;position: relative;}
.registerCon{width:1000px;height:50px;overflow: hidden;margin:30px auto 0px auto}
.registerCon p{height:8px;border-radius:4px;background-color:#d2d2d2;position:relative;}
.registerCon p span{position:absolute;top:0px;left:0px;background-color:#ff7300;width:132px;display:inline-block;height:8px;border-radius:4px;}
.registerCon p span.one{width:132px}
.registerCon p span.tow{width:357px}
.registerCon p span.three{width:582px}
.registerCon p span.four{width:1000px}
.register{height: auto;overflow: hidden;position: absolute;top: 60px;}
.register i{width: 44px;height: 44px;display: block;float: left;background-color: #d2d2d2;font: 16px/44px "\5FAE\8F6F\96C5\9ED1";color: #fff;text-align: center;border-radius: 50%;margin-left: 180px;}
.register i.on{background-color: #ff7300}
.registerStp{height: auto;overflow: hidden;padding: 0px 87px;}
.registerStp li{width: 226px;height:40px;overflow: hidden;float: left;display: block;text-align: center;font:16px/16px "\5FAE\8F6F\96C5\9ED1";color: #999;}
.registerStp li.on{color: #ff7300}
.zcform1{ width: 600px; margin: 20px auto;}
.zcform1 font{ display: block; float: left; width: 100px;text-align: right; line-height: 45px;}
.zcform1 input{ width: 270px; height: 45px; color: #999; float: left; text-indent:5px; margin-left: 20px; border: 1px solid #e4e4e4; background: #fff;}
.zcform1 i{ color: #999; line-height: 45px; font-size: 12px; width: 190px; text-align: left; margin-left: 10px; float: left;}
.zcform2{ width: 600px; margin: 20px auto;}
.zcform2 font{ display: block; float: left; width: 100px;text-align: right; line-height: 45px;}
.zcform2 input{ width: 100px; height: 45px; text-indent:5px; color: #999; float: left; margin-left: 20px; border: 1px solid #e4e4e4; background: #fff;}
.zcform2 .yzm{ width: 160px; float: left; margin-left: 10px; line-height: 45px;}
.zcform2 .yzm img{ width: 120px; height: 45px; margin-right: 5px; }
.zcform2 .yzm a{ color: #0080d2; font-size: 14px; text-decoration: underline;}
.zcform2 i{ color: #999; line-height: 45px; font-size: 12px; width: 190px; text-align: left; margin-left: 10px; float: left;}
.zcform3{ width: 270px; margin-left: 373px; line-height: 45px; color: #999;}
.zcform3 input{ float: left; text-indent:5px; margin-top: 15px; margin-right: 5px;}
.zcform3 a{ color: #f60; text-decoration: none;}
.zcbtn{ width: 205px; height: 45px; margin-top: 20px;}
.zcbtn input{ width: 100%; height: 100%; cursor: pointer; background: #f60; color: #fff; font-size: 16px; border: 0px; margin-left: 373px;}
.zcform4{ width: 600px; margin: 20px auto;}
.zcform4 font{ display: block; float: left; width: 100px;text-align: right; line-height: 45px;}
.zcform4 input{ width: 270px; text-indent:5px; border: 0; font-size: 20px; height: 45px; color: #f60; float: left; margin-left: 20px; background: #fff;}
.zcform5{ width: 600px; margin: 20px auto;}
.zcform5 font{ display: block; float: left; width: 100px;text-align: right; line-height: 45px;}
.zcform5 input{ width: 100px; text-indent:5px; height: 45px; color: #999; float: left; margin-left: 20px; border: 1px solid #e4e4e4; background: #fff;}
.zcform5 a{ width: 160px; text-decoration: none; color: #fff; display: block; float: left; margin-left: 10px; line-height: 45px; background: #48aaee; text-align: center; font-size: 16px}
.zcform5 i{ color: #999; line-height: 45px; font-size: 12px; width: 190px; text-align: left; margin-left: 10px; float: left;}
.tips1{ width: 500px; margin-left: 373px; font-size: 12px; color: #999; height: 25px; line-height: 25px;}
.tips1 font{ color: #f60;}
.success{ width: 600px; margin:20px auto; text-align: center;}
.success p{ font:25px/50px "\5FAE\8F6F\96C5\9ED1"; color: #f60;}
.success p i{ font:40px/40px "\5FAE\8F6F\96C5\9ED1"; margin-right: 5px; color: #f60;}
.success a{ color: #999; text-decoration: none;font: 16px/30px "\5FAE\8F6F\96C5\9ED1";color: #666;}
.zhmmsuccess{ width: 600px; margin:20px auto; text-align: center;}
.zhmmsuccess p{ font:25px/50px "\5FAE\8F6F\96C5\9ED1"; color: #666;}
.zhmmsuccess p i{ font:40px/40px "\5FAE\8F6F\96C5\9ED1"; margin-right: 5px; color: #7ed41d;}
.zhmmsuccess .tips{width: 100%; line-height: 30px; color: #999;}
.zhmmsuccess .tips >a{ color: #999; text-decoration: none;}
.zhmmsuccess >a{ display: block; width: 150px; height: 40px; text-decoration: none; margin:20px auto; line-height: 40px; background: #f60; color: #fff; text-align: center; font-size: 16px;}
.regisCon{height: auto;overflow:hidden;margin: 0px 50px 40px 50px;}
.regisCon li{width:250px;height:48px;font:16px/48px "\5FAE\8F6F\96C5\9ED1";color: #999;float: left;text-align: center;border-bottom:#e4e4e4 2px solid;}
.regisCon li span{width:22px;height:22px;background-color: #bfbfbf;color: #fff;display: inline-block;font: 16px/22px "微软雅黑";text-align: center;border-radius:50%;margin-right: 16px;}
.regisCon li.on{border-bottom: #ff7300 2px solid;}
.regisCon li.on span{background-color: #ff7300;}
