@charset "utf-8";
/*----
模块作者：裴富成
修改时间：2016.1.11
----*/
/*---- 招标公告左侧内容 ----*/
.tenderMain{width:1200px;height:auto;overflow:hidden;margin:15px auto 0;}
.sampleBox{width:922px;height:auto;overflow:hidden;position:relative;padding-top:42px;float:left;}
.sampleTab{position:absolute;left:0;top:0;border-left:1px solid #E4E4E4;}
.sampleTab li{height:40px;padding:0 22px;border-color:#E4E4E4 #E4E4E4 #fff #fff;border-width:1px; border-style:solid;color:#333;font:14px/42px "\5FAE\8F6F\96C5\9ED1";float:left;cursor:pointer;}
.sampleTab li.on{color:#FF7300;border-color:#F60 #E4E4E4 #FFF;border-width:2px 1px 2px 0px;border-style:solid;}
.sampleLeft{border:1px solid #E4E4E4;float:left;padding:22px 38px;width:844px;height:auto;}
.LeftConment{width:844px;height:auto;overflow:hidden;}
.LeftConment h2{font: 18px/40px "\5FAE\8F6F\96C5\9ED1";text-align:center;}
.LeftConment span{font: 12px/30px "\5FAE\8F6F\96C5\9ED1";color:#666;text-align:center;display:block;}
.LeftConment ul{width:807px;height:auto;overflow:hidden;border:1px solid #fcdcc3;padding:15px 0 15px 35px;background-color:#fffaf6;}
.LeftConment ul li{font:12px/24px "\5FAE\8F6F\96C5\9ED1";color:#999;float:left;width:268px;height:24px;overflow:hidden;text-align:center;}
.sampleText{width:850px;height:auto;overflow:hidden;color:#999;font: 14px/26px "\5FAE\8F6F\96C5\9ED1";}
.sampleText dt{margin-top:20px;}
.sampleText dd{text-indent:24px;}
.sampleDown{width:810px;height:88px;overflow:hidden;border:1px solid #fcdcc3;padding:6px 0 0 30px;background-color:#fffaf6;margin-top:25px;}
.sampleDown dt{font: 14px/26px "\5FAE\8F6F\96C5\9ED1";}
.sampleDown dd{float:left;width:275px;font: 12px/36px "\5FAE\8F6F\96C5\9ED1";color:#999;}
/*---- 招标公告右侧内容 ----*/
.sampleSidebar{width:258px;height:auto;overflow:hidden;float:left;margin-left:20px;}
.sampleHot{height:auto;border:1px solid #E4E4E4}
.sampleSuc{height:auto;border:1px solid #E4E4E4;margin-top:20px;}
.sampleHot h2,.sampleSuc h2{font: 18px/40px "\5FAE\8F6F\96C5\9ED1";padding-left:30px;border-bottom:2px solid #46A400;}
.sampleMenu{height:auto;overflow:hidden;padding:12px 10px;}
.sampleMenu li{height:32px;line-height:32px;}
.sampleMenu li a{font: 12px/32px "\5FAE\8F6F\96C5\9ED1";color:#333;height:32px;width:236px;overflow:hidden;display:block;}
.sampleMenu li a:hover{text-decoration:none;color:#FF7300;}
.sampleMenu li a i{color:#46a400;vertical-align:-3px;margin-right:2px;}
.sampleMenu li a:hover i{color:#FF7300;}
.sidebarImg{margin-top:20px;display:block;}
.state{width:780px;overflow:hidden;border:1px solid #fcdcc3;padding:10px 30px 0 30px;background-color:#fffaf6;margin-top:25px;}
.state p{ line-height: 30px;}
.state b{ font-weight:bold;}
.state .orange{color:#ff6600;font-size:14px;}